body {
	margin: 0px;
	padding: 0px;
}
.top_box {
	width: 100%;
	height: auto;
}
.top_text {
	font-family: Comfortaa, sans-serif;
	font-size: 25px;
	width: 150px;

}
.top_left_box {
	height: 29px;
	width: 29px;
	margin: 5px;
	position: absolute;
	padding: 0px;
	margin-top: 0px;
	z-index: 99;
}
.titi_button {
	background-image: url("titi.png");
	width: 100%;
	height: 100%;
	border: none;
}
.error_box {
	width: auto;
	height: 30px;
	position: relative;
	float: right;
	padding: 0px;
	margin-right: 5px;
	display: flex;
	animation-duration: 0.5s;
 	animation-iteration-count: 1;
 	animation-fill-mode: forwards;
}
.error_button {
	width: 30px;
	height: 100%;
	border: none;
	background-image: url("vosklizs.png");
	background-repeat: no-repeat;
	padding: 0px;
	animation-duration: 0.5s;
 	animation-iteration-count: 1;
 	animation-fill-mode: forwards;
}
.error_text {
	margin: 5px auto;
	font-size: 20px;
	font-family: Comfortaa, sans-serif;
	display: none;
}
.bottom_box {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0px;
	display: flex;
}
.input_ip {
	width: 85%;
	height: 50px;
	border: 3px solid black;
	box-sizing: border-box;
	background-color: rgb(20, 100, 70);
	font-family: Comfortaa, sans-serif;
  	font-size: 20px;
  	color: white;
}
.ip_button {
	width: 15%;
	height: 50px;
	border: 3px solid black;
	box-sizing: border-box;
	background-image: url("wifi.png");
	background-repeat: no-repeat;
	background-position: center;
	border-left: none;
}
.input_ip::placeholder {
	color: white;
  	opacity: 0.3;
  	font-family: Comfortaa, sans-serif;
  	font-size: 20px;
}

.lampa_button {
	width: 200px;
	height: 200px;
	border: none;
	background-image: url("lampa_off.png");
	background-color: white;
}

.center_box {
	width: 100%;
	height: 200px;
	position: absolute;
	top: 30%;
}

@keyframes off_eroor_dispaly {
  from {
  	transform: translateX(0px);
  }
  to {
  	transform: translateX(100px);
  	display: none;
  }
}

.titi_pod_box {
	width: 100px;
	height: 50%;
	border: 3px solid black;
	position: absolute;
	background-color: white;
	z-index: 100;
	display: none;
	animation-duration: 0.5s;
 	animation-iteration-count: 1;
 	animation-fill-mode: forwards;
}

@keyframes titi_pod_box_on {
  from {
  	width: 0px;
  }
  to {
  	width: 100px;
  }
}

@keyframes titi_pod_box_off {
  from {
  	width: 100px;
  }
  to {
  	width: 0px;
  	display: none;
  }
}

.exit_titi {
	width: 25%;
	height: 25px;
	background-color: red;
	position: absolute;
	right: 0px;
}

@keyframes error_on {
  from {
  	width: 30px;
  }
  to {
  	width: 200px;
  }
}

@keyframes error_off {
  from {
  	width: 200px;
  }
  to {
  	width: 30px;
  }
}

.left_button {
	width: 45px;
	height: 45px;
	margin: 5px;
}

#jal_bt {
	background-image: url(jal.png);
	background-repeat: no-repeat;
	background-position: center;
}

#bad_bt {
	background-image: url(bad.png);
	background-repeat: no-repeat;
	background-position: center;
}

#led_bt {
	background-image: url(led.png);
	background-repeat: no-repeat;
	background-position: center;
}